@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans' , sans-serif;
}
/* ----- Container Padre ----- */
.container-primary{  
    width: 100%;
    min-height: 100vh;  /* Creamos 2 columnas para el menu lateral de navegacion y el contenido principal de la pagina  */
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(90px,90px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                          "nav main"; 
    transition: all .3s ease;
}
.container-primary.check{
    grid-template-columns: minmax(300px,18%) auto ;
    .container_nav a,.container_nav h2{
        transition: all .3s ease;
        color: #000;
    }
    .container_nav h2{
        display: flex;
        justify-content: center;
        color: #000;
        transition: all .3s ease;

    }
    .container_nav .channels{
        display: flex;
        transition: all .3s ease;

    }
    .container_nav hr{
        display: block;
        transition: all .3s ease;

    }
}  

 /* ------ Container encabezado ----- */
.container_header{
    grid-area: header;     
    padding: 0 20px;   
    display: grid;
    grid-template-columns: auto 1fr auto; 
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    grid-template-areas: "logo search_bar items";
}
.container_header .item_logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}
.container_header .item_logo .btn_bars{
    width: 50px;
    height: 50px;
    padding: 10px;
    background: none;
    margin-right: 20px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
    border: none;
}
.item_logo .btn_bars:hover{
    background-color: #E7E7E7;
}
.container_header .item_logo a{
    text-decoration: none;
    color: #000;
}
.logo .fa-solid{
    background-color: #ff0000;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 8px;
    color: #fff;
    position: relative;
    top: -5px;
    margin-right: 4px;
}
.container_header .item_logo .logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.search_bar{
    grid-area: search_bar;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_header .search_bar input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans' , sans-serif;
}
.container_header .search_bar button {
    width: 5%;
    height: 35px;
    border: 1px solid #ccc; 
    color: #545454;
    background-color: #f8f8f8;
    cursor: pointer;  
}
.container_header .search_bar button:hover{
    background-color: #f5f5f5;
}
.search_bar .button1{
    border-left: none;
}
.items_header{
    grid-area: items;
    display: flex;
    align-items: center;
}
.container_header .items_header button{
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
    background: none;
    border: none;
}
.container_header .items_header button:hover{
    background-color: #E7E7E7;
}
.container_header .items_header .photo_channel{
    width: 30px;
    height: 30px;
    display: inline-block;
}
.container_header .items_header .photo_channel img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
}
/* ----- Container barra menu lateral ----- */
.container_nav{
    grid-area: nav; 
}
.container_nav a{
    display: block;
    padding: 15px 35px;
    color: #fff;
    text-decoration: none;

}
.container_nav a:hover{
    background-color: #E5E5E5;
    color: #E5E5E5;

}
.container_nav a .fa-solid{
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}
.container_nav .active{
    background-color: #E5E5E5;
    font-weight: bold;
    color: #E5E5E5;
}
.container_nav .active .fa-solid{
    color: #ff0000;
}
.container_nav h2{
    text-align: center;
    font-size: 20px;
    color: #fff;
    display: none;
}
.container_nav hr{
    display: none;
    margin: 20px 0;
    border: 1px solid #dfdfdf;
}
.container_nav .channels{
    width: 100%;
    height: 50px;
    display: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    text-align: center;
}

.container_nav a img{
    width: 13%;
    height: auto;
    object-fit: cover;
    border-radius: 100%;
}

/* ----- Container Contenido principal de la pagina ----- */
.container_main{
    grid-area: main;    
    background-color: #f9f9f9;
    padding: 40px;
}
.container_main .title_main{
    margin-bottom: 20px;
}
.container_main .videos_main{
    display: grid;
    gap: 40px 20px;
    grid-template-columns: repeat(auto-fit,minmax(min(100%,225px),1fr));
}
.container_main .videos_main .video{
    width: 100%;
    display: flex;
}
.container_main .videos_main .video img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media screen and (max-width: 1200px) {
    .container_header .item_logo .logo span{
        display: none;
    }  
    .container_header .search_bar input{
        min-width: 70%;
    }
}
@media screen and (max-width: 768px) {
    .container-primary{
        grid-template-rows: auto;
    }
    .container_header{
        padding: 20px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        grid-template-areas: "logo items"
                             "search_bar search_bar";
    }
    .container_header .item_logo .logo span{
        display: inline;
    }
    .container_header .search_bar input{
        min-width: auto;
        width: 100%;
    }
}